#main{
    /* border: 2px solid black; */
 
   
    margin-top: 100px;
}

#container{
    /* border: 2px solid black; */
    width: 600px;
    margin: 0 auto 60px auto;
}

#para{
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    padding: 5px 10px;
}

#holder{

    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    /* border: 2px solid black; */
}

#holder input{
    width: 470px;
    height: 35px;
    padding-left: 20px;
}

#holder button{
    border-style: none;
    background-color: black;
    color: aliceblue;
    padding: 5px 15px;
    border-radius: 15px;
    cursor: pointer;
}


#newpara{
    border: 2px solid black;
    width: 600px;
    min-height: 200px;
   padding: 15px;
    margin: 0 auto 60px auto;
}