#main{
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    /* border: 2px solid black; */
}

#buttonPanel{
    /* border: 2px solid black; */
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 600px;
    height: 40px;
    margin-top: auto;
    margin-bottom: 20px;
  
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);

}

button{
    cursor: pointer;
    margin: 5px 0;
    padding: 0 15px;
    border-radius: 10px;
    border-style: none;
}


#Red{
    background-color: red;
    color: white;
}

#Yellow{
    background-color: yellow;
   
}

#Black{
    background-color: black;
    color: white;
}

#Purple{
    background-color: purple;
    color: white;
}

#Green{
    background-color: green;
    color: white;
}

#Blue{
    background-color: blue;
    color: white;
}

#Default{
    background-color: coral;
    color: white;
}